@tailwind base;
@tailwind components;
@tailwind utilities;

body 
  font-family 'Lato', sans-serif
  max-width: 1920px
  margin 0 auto
  color black
.navbar
  border-bottom 1px solid #f8f8f8
  padding-top 3rem
  color black 
  .site-name
    display none
.dropdown-wrapper .dropdown-title
  pointer-events none

@media (max-width: 720px)
  .dropdown-wrapper .dropdown-title
    pointer-events auto
    outline none

.dropdown-wrapper span {
  color:black;
}

p > span, h1, h2, h3 {
  font-weight: 500;
  color: black;
}
