@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar
  .site-name
    display none
.dropdown-wrapper .dropdown-title
  pointer-events none

@media (max-width: 720px)
  .dropdown-wrapper .dropdown-title
    pointer-events auto
    outline none

